.odd {
    background-color: #F78DAA;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second {
    color: hsl(230, 100%, 49%);
    font-size: 36px;
}

.odd.third {
    font-size: 24px;
}

#fourth {
    background-color: rgb(212, 237, 187);
    font-size: 24px;
    font-weight: bold;
}
