.button-one,
.button-two {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.button-one {
    background-color: hsl(0, 0%, 4%);
    color: white;
}

.button-two {
    background-color: #FAFA05;
}
